body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#output {
    white-space: pre-line;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#output p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
}
#featuredLabel{
    margin-top: 10px;
}
#featured {
    display: flex;

}
#boss{
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width:  9vw;
}

#criatura{
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 9vw;
}

#rashid {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 9vw;
}

#boss p, #rashid p, #criatura p{
    background: linear-gradient(120deg, rgba(176, 0, 2, 1) 0%, rgba(181, 5, 3, 1) 10%, rgba(185, 11, 5, 1) 20%, rgba(190, 16, 6, 1) 30%, rgba(194, 22, 7, 1) 40%, rgba(199, 27, 9, 1) 50%, rgba(204, 32, 10, 1) 60%, rgba(208, 38, 11, 1) 70%, rgba(213, 43, 12, 1) 80%, rgba(217, 49, 14, 1) 90%, rgba(222, 54, 15, 1) 100%);
    color: white;
    transform: translateY(16px);
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}

#criaturaLabel p, #bossLabel p, #rashidLabel p{
    transform: translateY(18px);
    text-align: center;
}