body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#output {
    white-space: pre-line;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#output p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
}
#featuredLabel{
    margin-top: 10px;
}
#featured {
    display: flex;

}
#boss{
    display: inline-block;
    margin-right: 10px;
}
#criatura{
    display: inline-block;
}
